@import url("/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --background-app-rgb: 255, 255, 255;
        --color-primary: 60, 80, 224;
        --color-secondary: 128, 202, 238;
        --color-dark: 100, 116, 139;
        --color-dark-middle:51, 58, 72;
        --color-dark-full: 28, 36, 52;
        --color-green: 16, 185, 129;
        --color-yellow: 240, 149, 12;
        --color-red: 251,84,84;
        --color-gray: 239, 244, 251;
        --color-gray-light:241, 245, 249;
        --color-stroke: 226, 232, 240;
    }
}

@layer components{
    .text-field{
        @apply w-full px-5 py-2 border-2 border-stroke focus:border-primary outline-none rounded-md transition-all delay-100 ease-in-out;
    }

    .btn{
        @apply rounded-md px-5 py-2 transition-all delay-100 ease-in-out
    }

    .btn--primary {
        @apply bg-primary hover:bg-opacity-80 text-white
    }

    .btn--secondary {
        @apply bg-gray hover:bg-opacity-90 text-dark border-2 border-stroke
    }

    .radio-input{
        @apply flex justify-center items-center gap-x-2
    }

    .radio-button{
        @apply cursor-pointer form-radio text-primary focus:ring-primary
    }
    
    .badge{
        @apply rounded-xl px-3
    }

    .badge--success{
        @apply text-white bg-success
    }

    .badge--error {
        @apply text-white bg-error
    }

    .badge--tag{
        @apply ml-3 bg-secondary bg-opacity-25
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Vazir";
    min-height: 100vh;
    user-select: none;
    background-color: rgb(var(--background-app-rgb));
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: none; */
    outline: none;
    padding: 0;
    margin: 0;
}

#root{
    height: 100vh;
}

table td,
table th{
    padding: .7rem;
}   